@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#16151c] text-white;
}

.cmd {
  font-family: MonoLisa, Menlo, monospace;
} 

.smooth {
  @apply duration-150 transition-all ease-in-out;
}

.h-screen-ios {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}